body{margin:0px; background: url(bground.jpg);
    background-size:0.3%;
    }
    
    a {text-decoration: none;}
    
    
    /*-------------------------------Шапка-------------------------*/
    

    header{
    width: 100%;
    min-width: 2000px;
    height: 61px;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 5;
    background: darkgray;
    font-family:Lucida Sans Unicode;
    }
    
    header ul {
    display: inline;
    float: left;
    padding: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    }
    
    header li{
    display: inline;
    float: left;
    }
    
    header a{
    display: inline;
    float: left;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    }
    
    header a:hover{
    display: inline;
    float: left;
    transition: color 0.75s, background 0.5s ease;
    background: #306ABF;
    color: white;
    }
    
    
    /*-------------------------------Основной блок-------------------------*/
    
    
    .div1{
    display:block;
    position: absolute;
    box-shadow: 0 0 15px 3px;
    color:black;
    background: rgba(206, 194, 194, 0.6);
    opacity:1;
    text-align:left;
    font-family:Lucida Sans Unicode;
    font-size:15px;
    position: relative;
    padding: 10;
    margin-top: 5.3%;
    left: 17.25%;
    height:auto;
    width:64%;
    min-width: 600px;
    }
    
    
    /*-------------------------------Блок Новости киберспорта-------------------------*/
    
    .div2{
    border: 1px solid rgb(112, 109, 109);
    display:block;
    background: rgba(49, 49, 49, 0.78);
    opacity:1;
    text-align:left;
    font-family:Lucida Sans Unicode;
    font-size:14px;
    position: fixed;
    padding: 5;
    top: 11%;
    left: 0.33%;
    height:auto;
    width:15.5%;
    min-width: 150px;
    color: white;
    }
    
    .div2 ul{
    list-style:none;
    padding: 0;
    margin-left: 3.5%;
    }
    
    .div2 li{
    padding: 0;
    }
    
    
    /*-------------------------------Блок сообщество-------------------------*/
    
    
    .div3{
    border: 1px solid rgb(99, 89, 89);	
    background: rgba(49, 49, 49, 0.78);
    opacity: 1;
    text-align: left;
    font-family: Lucida Sans Unicode;
    font-size: 14px;
    display: inline;
    position: fixed;
    padding: 5;
    top: 11%;
    right: 0.4%;
    height: auto;
    width: 15%;
    min-width: 150px;
    z-index: 4;
    color: white;
    }
    
    .div3 ul{
    list-style: none;
    padding: 0;
    margin-left: 3.5%;
    }
    
    .div3 li{
    padding: 0;
    }
    
    
    /*-------------------------------Картинки-------------------------*/
    
    
    
    .navi{
    border: solid 0.1px;
    margin-right: 40%;
    height: 30%;
    float: left;
    width: 400px;
    }
    
    
    .sr1{
    border: solid 0.1px;
    float: left;
    height: 30%;
    margin-right: 10px;
    width: 400px;
    }
    
    .pk{
    border: solid 0.1px;
    float: right;
    height: 30%;
    float: left;
    margin-right: 10px;
    width: 400px;
    }
    
    h1{
    color:black;	
    }
    
    
    /*-------------------------------Текст, заголовки и т.д.-------------------------*/
    
    h2{
    justify-content: center;
    text-align:center;
    color: #0084ff;
    }
    
    h3{
    margin-left: 3%;
    }
    
    p1{
    font-style:italic;
    }
    
    
    
    /*------------------------------Цвет выделения и скролл-бар--------------------*/
    ::-webkit-scrollbar {width: 7px; background-color: black;}
    ::-webkit-scrollbar-thumb {background-color: darkblue;}
    
    ::selection {
    background: gray;
    }
    